.main {
  margin: 2em auto 14em;
  width: 1280px;
}

.mainTitle {
  font-size: 2rem;
  font-family: var(--main-font);
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 0.8;
  color: var(--light);
}

.sectionsWrapper {
  display: flex;
  justify-content: space-between;
}

/* Products section */

.productsSection {
  border-radius: 10px;
  background-color: var(--dark-grey);
  padding: 15px 24px;
  width: 78%;
}

.categories {
  display: flex;
  border-radius: 5px;
  background-color: var(--dark);
  padding: 10px 45px;
  margin-bottom: 20px;
  color: white;
}

.categories p {
  font-size: 1.125rem;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.clearBtn {
  font-size: 1.125rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  background-color: transparent;
  margin-right: 120px;
  transition: all 150ms ease;
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
}

.clearBtn:hover {
  color: var(--product-blue);
}

.titleCategory {
  margin-right: 190px;
}

.quantityCategory {
  margin-right: 75px;
}

.priceCategory {
  margin-right: 90px;
}

/* Products section */
/* Total section */

.totalSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 40px;
  border-radius: 10px;
  background-color: var(--dark-grey);
  margin-left: 15px;
  padding: 15px 18px 20px 18px;
  width: 22%;
  height: 220px;
  color: white;
}

.totalSection h2 {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.totalSection p {
  font-size: 1.1rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  margin-bottom: 10px;
}

.totalSection button {
  font-size: 1.25rem;
  font-family: var(--main-font);
  font-weight: bold;
  line-height: 1;
  border-radius: 4px;
  background-color: var(--product-blue);
  padding: 7px 0;
  border: 0;
  outline: 0;
  width: 100%;
  color: var(--dark-grey);
  cursor: pointer;
}

/* Total section */

.noResults {
  font-size: 1.4rem;
  font-family: 'Nunito';
  font-weight: 600;
  margin-top: 75px;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .main {
    width: 980px;
  }

  .productsSection {
    width: 67%;
  }

  .totalSection {
    width: 33%;
  }

  .clearBtn {
    margin-right: 115px;
  }

  .categories {
    padding: 10px 30px;
    width: 597px;
  }

  .titleCategory {
    margin-right: 156px;
  }

  .quantityCategory {
    margin-right: 35px;
  }

  .priceCategory {
    margin-right: 58px;
  }
}

@media only screen and (max-width: 1000px) {
  .sectionsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main {
    width: calc(100% - 20px);
  }

  .categories {
    width: calc(100% - 60px);
  }

  .productsSection {
    margin-bottom: 10px;
    width: calc(100% - 48px);
  }

  .totalSection {
    margin-left: 0;
    width: calc(100% - 36px);
    height: 140px;
  }

  .titleCategory {
    margin-right: 198px;
  }

  .quantityCategory {
    margin-right: 96px;
  }

  .priceCategory {
    margin-right: 92px;
  }
}

@media only screen and (max-width: 900px) {
  .titleCategory {
    margin-right: 156px;
  }

  .quantityCategory {
    margin-right: 35px;
  }

  .priceCategory {
    margin-right: 58px;
  }
}

@media only screen and (max-width: 750px) {
  .quantityCategory,
  .priceCategory,
  .totalCategory {
    display: none;
  }

  .categories {
    padding: 10px 20px;
    width: calc(100% - 40px);
  }

  .productsSection {
    padding: 15px 12px;
    width: calc(100% - 24px);
  }
}
