.wrapper {
  background: rgb(0, 186, 224);
  background: linear-gradient(
    145deg,
    rgba(0, 186, 224, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 186, 224, 1) 100%
  );
  background-size: 200% 200%;
  animation: bgAnimate 7s linear infinite;
  margin: 4em auto 6em;
  width: 1210px;
  overflow: hidden;
}

.categories {
  display: flex;
  width: 100%;
  height: 170px;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 100%;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: scale(0.99);
  transition: all 200ms ease;
  height: 100%;
  cursor: pointer;
}

.category:hover {
  transform: scale(1);
}

.halfCategory {
  height: 49%;
}

.category h2 {
  font-size: 1.375rem;
  font-family: var(--main-font);
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
  width: 62%;
  color: var(--light);
}

@media only screen and (max-width: 1300px) {
  .wrapper {
    width: 969px;
  }

  .category h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1070px) {
  .wrapper {
    width: 727px;
  }

  .category h2 {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 830px) {
  .wrapper {
    width: 485px;
  }

  .categories {
    width: calc(360px * 4);
  }

  .category h2 {
    font-size: 1rem;
  }

  .categoryWrapper {
    width: 242px;
  }
}

@media only screen and (max-width: 580px) {
  .wrapper {
    margin: 3em auto 4em;
    width: 242px;
  }
}

@keyframes bgAnimate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
