.wrapper {
  border-bottom: 2px solid white;
}

.filterName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px 6px 9px;
  background-color: var(--dark-grey);
  cursor: pointer;
}

.filterName div {
  display: flex;
  align-items: center;
}

.filterName h2 {
  font-size: 1.25rem;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: white;
}

.filterName button {
  border: 0;
  outline: 0;
  background-color: transparent;
  margin-right: 15px;
  cursor: pointer;
}

.filterName button img {
  transition: transform 400ms ease;
  width: 18px;
  height: 18px;
}

.filterName img {
  transition: transform 400ms ease;
  width: 12px;
  height: 12px;
}

.filterBody {
  display: block;
  transition: all 400ms ease;
  background-color: var(--dark-grey);
  padding: 20px 12px 20px 10px;
  height: 86px;
  overflow: hidden;
}

.filterBody.hide {
  height: 0;
  padding: 0 12px 0 10px;
}

/* Slider */

.sliderWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.slider {
  margin: 0 10px;
  position: relative;
  height: 6px;
  z-index: 1;
}

.slider > .track {
  background-color: var(--light-grey-v2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slider > .range {
  background-color: var(--light);
  left: 0%;
  right: 0%;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.leftThumb,
.rightThumb {
  background-color: var(--light);
  width: 21px;
  height: 20px;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
}

.leftThumb {
  left: 0%;
  transform: translate(-10px, -7px);
}

.rightThumb {
  right: 0%;
  transform: translate(10px, -7px);
}

.sliderWrapper input[type='range'] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  height: 6px;
  width: 100%;
  opacity: 0;
  z-index: 2;
}

.sliderWrapper input[type='range']::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.sliderWrapper input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  width: 21px;
  height: 20px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

/* Slider */
/* price range input */

.rangeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0 15px 0;
}

.rangeInput input[type='number'] {
  font-size: 1.1rem;
  font-family: var(--third-font);
  font-weight: 800;
  background-color: var(--light);
  border-radius: 4px;
  padding: 0 7px;
  border: none;
  outline: none;
  width: 60px;
  height: 30px;
}

.rangeInput input[type='number']::placeholder {
  font-size: 1rem;
  color: #a3a3a3;
}

.rangeInput input[type='number']::-webkit-inner-spin-button,
.rangeInput input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.rangeDash {
  width: 12px;
  height: 5px;
  background-color: var(--light);
  margin: 0 10px;
}

.rangeInput button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: var(--third-font);
  font-weight: 800;
  border-radius: 4px;
  margin-left: 10px;
  padding: 15px 10px;
  border: none;
  outline: none;
  height: 30px;
  cursor: pointer;
}

/* price range input */

@media only screen and (max-width: 1300px) {
  .main {
    width: 980px;
  }

  .rangeInput input[type='number'] {
    font-size: 1rem;
    line-height: 1;
    padding: 0px 6px;
    width: 46px;
    height: 26px;
  }

  .rangeDash {
    margin: 0 8px;
    width: 10px;
  }

  .rangeInput button {
    font-size: 0.975rem;
    margin-left: 5px;
    padding: 13px 10px;
    height: 26px;
  }
}

@media only screen and (max-width: 1000px) {
  .rangeInput input[type='number'] {
    font-size: 1.1rem;
    padding: 0 7px;
    width: 60px;
    height: 30px;
  }

  .rangeDash {
    margin: 0 10px;
    width: 12px;
  }

  .rangeInput button {
    font-size: 1rem;
    margin-left: 10px;
    padding: 15px 10px;
    outline: none;
    height: 30px;
  }
}

.activeFilter {
  transform: rotate(-180deg);
}
